<?xml version="1.0"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>facdash</display-name>

 <listener>
  <listener-class>com.akuacom.pss2.facdash.web.listener.ServletListener</listener-class>
 </listener>

 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>client</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.handleViewExpiredOnClient</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.CONTROL_SKINNING</param-name>
  <param-value>enable</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.CONTROL_SKINNING_CLASSES</param-name>
  <param-value>enable</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.SKIN</param-name>
  <param-value>blueSky</param-value>
 </context-param>
 <filter>
  <display-name>RichFaces Filter</display-name>
  <filter-name>richfaces</filter-name>
  <filter-class>org.ajax4jsf.Filter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>richfaces</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
 </filter-mapping>
 <listener>
  <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
 </listener>
 
 <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.akuacom.pss2.web.filter.FacAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>*.jsf</url-pattern>
    </filter-mapping>
 
 <!-- Faces Servlet -->
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <!-- Faces Servlet Mapping -->
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 <!-- Tiles Servlet 
	<servlet>
	    <servlet-name>tiles</servlet-name>
	    <servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
	    <init-param>
	        <param-name>
	          org.apache.tiles.definition.DefinitionsFactory.DEFINITIONS_CONFIG
	        </param-name>
	        <param-value>
	          /WEB-INF/tiles-defs.xml,/org/apache/tiles/classpath-defs.xml
	        </param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>
	</servlet> -->
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>403</error-code>
  <location>/jsp/error.jsp</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/jsp/error.jsp</location>
 </error-page>
 <!-- Security Settings -->
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>website</web-resource-name>
   <url-pattern>/jsp/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>website</role-name>
  </auth-constraint>
  <user-data-constraint>
   <transport-guarantee>NONE</transport-guarantee>
  </user-data-constraint>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
   <form-login-page>/login.jsp</form-login-page>
   <form-error-page>/login_error.jsp</form-error-page>
  </form-login-config>
 </login-config>
 <security-role>
  <description>website</description>
  <role-name>website</role-name>
 </security-role>
</web-app>
