<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>bvtn</display-name>
	<servlet>
		<display-name>EiEvent</display-name>
		<servlet-name>EiEvent</servlet-name>
		<servlet-class>com.honeywell.dras.vtn.web.VTNServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EiEvent</servlet-name>
		<url-pattern>/OpenADR2/Simple/2.0b/EiEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EiEvent</servlet-name>
		<url-pattern>/OpenADR2/Simple/2.0b/EiRegisterParty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EiEvent</servlet-name>
		<url-pattern>/OpenADR2/Simple/2.0b/OadrPoll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EiEvent</servlet-name>
		<url-pattern>/OpenADR2/Simple/2.0b/EiReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EiEvent</servlet-name>
		<url-pattern>/OpenADR2/Simple/2.0b/EiOpt</url-pattern>
	</servlet-mapping>
</web-app>
