#fm-container {
	margin: 0;
	padding: 0;
	width: 450px;
	text-align: left;
	font-size: .8em;
}

p#fm-intro {
	margin: 0;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 1em 0;
	border: none;
	border-top: 1px solid #ccc;
}

legend {
	margin: 1em 0;
	padding: 0 .5em;
	color: #16557f;
	background: transparent;
	font-size: 1.3em;
	font-weight: bold;
}


fieldset div {
	margin-bottom: .5em;
	padding: 0;
	display: block;
}

fieldset div input, fieldset div textarea {
	width: 150px;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 1px;
	color: #333;
}

fieldset div select {
	padding: 1px;
}

div.fm-multi div {
	margin: 5px 0;
}

div.fm-multi input {
	width: 1em;
}

div.fm-multi label {
	display: block;
	width: 200px;
	padding-left: 5em;
	text-align: left;
}
	
/* required fields - does not work in IE */
fieldset div.fm-req {
	font-weight: bold;
}

fieldset div.fm-req label:before {
	content: "* "; /* does not work in IE */
}

TR.all-event{
	font-weight:bold;
	
}

.content-panel TH.rich-table-subheadercell{
padding: 1px;
}

.content-panel TD.rich-table-cell {
padding: 1px;
}

TR.all-event  .rich-table-cell{
	color:#D56116;
	border-right:none;
}

TR.row-category  .rich-table-cell{
	color:#3C78B5;
}

TR.row-category  TD.account, TR.all-event  TD.account{
	border-right:none;
}


TR.row-category {
	font-weight:bold;
	background: #E9E9E9;
}

