<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"   
    xmlns="http://java.sun.com/xml/ns/javaee"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>RESTClientWS</display-name>
    <servlet>
        <display-name>RESTClientWS</display-name>
        <servlet-name>RESTClientWS</servlet-name>
        <servlet-class>com.akuacom.pss2.clientws.rest.RESTClientWS</servlet-class>
    </servlet>
    <servlet>
        <display-name>RESTClientWS2</display-name>
        <servlet-name>RESTClientWS2</servlet-name>
        <servlet-class>com.akuacom.pss2.clientws.rest.RESTClientWS2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTClientWS</servlet-name>
        <url-pattern>/rest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESTClientWS</servlet-name>
        <url-pattern>/nossl/rest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESTClientWS2</servlet-name>
        <url-pattern>/rest2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESTClientWS2</servlet-name>
        <url-pattern>/nossl/rest2</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>RESTConfirmationWS</display-name>
        <servlet-name>RESTConfirmationWS</servlet-name>
        <servlet-class>com.akuacom.pss2.clientws.rest.RESTConfirmationWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTConfirmationWS</servlet-name>
        <url-pattern>/restConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESTConfirmationWS</servlet-name>
        <url-pattern>/nossl/restConfirm</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>RESTWS</web-resource-name>
            <url-pattern>/nossl/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PSS2WS</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>RESTWS</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PSS2WS</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
         <auth-method>BASIC</auth-method>
        <realm-name>PSS2WS</realm-name>
    </login-config>
    <security-role>
        <description>PSS2WS</description>
        <role-name>PSS2WS</role-name>
    </security-role>
</web-app>
