http://qa3.openadr.com,,,,,,,,,,,,,
admin,,,,,,,,,,,,,
Test_1234,,,,,,,,,,,,,
example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,
testcpp,testcbpdo,testcbpda,testcegda,testcegda,testcegdo,testcegdo,testdbp,testAggregator,clonecpp,clonecbpda,clonecbpdo,clonedrcda,clonedrcdo
testcpp.c1,testcbpdo.c1,testcbpda.c1,testcegda.c1,testcegda.c2,testcegdo.c1,testcegdo.c2,testdbp.c1,testAggregator.c1,clonecpp.c1,clonecbpda.c1,clonecbpdo.c1,clonedrcda.c1,clonedrcdo.c1
No,All,Strategy,All,All,All,All,All,All,All,All,All,All,All
10,10,10,10,10,10,10,10,10,10,10,3,10,10

Line 1 = Server
Line 2 = username
Line 3 = password
Line 4 = email addresses for contacts
Line 5 = participants  // number of participants
Line 6 = clients
Line 7 = notifications types
	All = All Notifications
	No  = No Notifications
	Strategy = Strategy Initiated Notifications
Line 8 = threshold




example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,example@akuacom.com,
testcpp,testcbpdo,testcbpda,testcegda,testcegda,testcegdo,testcegdo,testdbp,testAggregator,clonecpp,clonecbpda,clonecbpdo,clonedrcda,clonedrcdo
testcpp.c1,testcbpdo.c1,testcbpda.c1,testcegda.c1,testcegda.c2,testcegdo.c1,testcegdo.c2,testdbp.c1,testAggregator.c1,clonecpp.c1,clonecbpda.c1,clonecbpdo.c1,clonedrcda.c1,clonedrcdo.c1
No,All,Strategy,All,All,All,All,All,All,All,All,All,All,All
10,10,10,10,10,10,10,10,10,10,10,10,10,10