https://qa3.openadr.com/
admin
Test_1234
gail@akuacom.com
TestX
TestX
TestX
100
O


Line 1 is the server.
Lines 2 and 3 are the login username and password.
Line 4 is the email address to give the contact.
Line 5, 6 and 7 are the roots for the names of the participants, clients and accounts.
Line 8 is the number of participant/clients to create.
P is for Performance Test clients (atest0.atest0)
O is for Obix Usage Clients (atest000.atest)
