body { color: #000000; text-align: center; margin:0px; font-family: verdana, arial, sans-serif; font-size:small; background-color: #FFFFFF; }



A:link { COLOR: #27577D; text-decoration: none }
A:visited { COLOR: #5D819D; text-decoration: none }
A:active { COLOR: #5D819D; text-decoration: none }
A:hover { COLOR: #2bb0ff; text-decoration: underline }

img { border:none; }



#page_wrapper { margin-left: auto; margin-right: auto; padding-bottom: 0; margin-bottom:0; width: 100%; text-align: left; min-width: 820px; }

#header { float:left; width:100%; font-size:.8em; line-height:normal; overflow:auto; margin:0 0 8px 0; }

#standard #header { background:#DAE0D2 url("images/layout/header_background-wide.jpg") repeat-x left bottom; }
#home #header { background: #DAE0D2 url("images/layout/header_background-wide.jpg") no-repeat left bottom; }


h1 { margin: 0; padding-top:20px; padding-left:25px; font-size:2.5em; font-weight: bold; color: #000000; }
h2 { margin: 0; padding-left:25px; font-size:1.2em; font-weight: bold; letter-spacing: 2px; color: #eec48b; }


#content_wrapper { padding-top:5px ; clear:both; margin: 10px 20px; padding-bottom: 10px; /*overflow:auto;*/
}

#page_footer { background-color: #fff; clear: both; border-top: solid #5d819d 1px; margin: 5px 20px 20px 20px; padding: 10px 0px 0px 0px; font-size: .8em;}
#page_footer .akua { padding-top:5px; padding-bottom:10px; margin-bottom:0px; text-align: right; font-size: 0.9em; color: #93abbe; letter-spacing:1px; }
#page_footer .akua img { vertical-align: top;}
#page_footer .akua p { margin: 0; padding: 0; }
#page_footer .partners { float:left; }
#page_footer .partners img { padding:0 10px 0  0; vertical-align: middle;}


table { position: relative; top: -4px; left: -4px; width: 100%; border: solid 1px #2b4e82; background: #ffffff; }
table caption { color: #000; font-size: 1.1em; font-weight: bold; margin: 0; padding: 8px 20px; text-align: left; background: #d4e0e6; border-top: 1px solid #000; border-right: 1px solid #000000; border-left: 1px solid #000; border-bottom-style: none; border-bottom-width: medium; }
table th { margin: 0; padding: 2px 5px 2px 20px; text-align: left; border-bottom: 1px solid #b5b5b5; color: #fff; font-size: 0.8em; background-color: #2bb0ff; border-right: 1px dotted #ffffff; }
table th img { text-align: right; float: right; }
table th a { display: block; }
table th a:link, table th a:visited { color: #ffffff; }
table th a:hover { color: #2b4e82; text-decoration: none; }
table td img { float: right; margin-left: 0; border-width: 0; }
table td { margin: 0; padding: 4px 20px; text-align: left; border-bottom: 1px solid #b5b5b5; }
table tr { background: #fbfcfc; }
table tr.alt { background: #f1f1f1; }
.tablestyle { background: #919191; margin-bottom:15px; }
.sort_down { background: #428bd5 url("images/layout/sort_up.png") no-repeat right center; }
.sort_up { background: #428bd5 url("images/layout/sort_down.png") no-repeat right center; }
.current_sort a { padding-right: 20px; }

.edit_tools a { display:block; height: 20px; width: 20px; float: right; margin-left:15px; overflow:hidden; }
.edit_tools a:hover { display:block; text-indent:-20px;}
.edit_tools img { border: 0; }

.select_box { padding-right: 0px; border-right: none; }
.time { font-size:.8em; color: #999999; }

.edit_item a { display: block; background: url("images/layout/pencil.gif") no-repeat right center; padding-right: 20px; }
.edit_item a:hover { background: url("images/layout/pencil_on.gif") no-repeat right center; }

table td a { display: block; }

.status-green { color: white; background-color: #48b15f; }
.status-yellow { background-color: #fff35c; }
.status-red { font-weight: bold; color: white; background-color: #aa0000; }
.status-orange { background-color: #db9839; }
.status-purple { color: white; background-color: #942b7b; }
.status-blue { color: white; background-color: #3e48d4; }

.null { color: #999999; }

table .colcenter { text-align: center; }


.float_left { float: left; margin-right: 10px; }
.float_right { float: right; margin-left: 10px; }
.float_right p, .float_left p { color: #2bb0ff; font-size: 0.6em; text-align: center; }

.arrow_list { margin-left: 10px; padding-left: 0; list-style: none; }
.arrow_list li { padding-left: 10px; background-image: url("images/layout/arrow.gif"); background-repeat: no-repeat; background-position: 0 7px; font-size: 0.8em; line-height:1.4em; }

.clear_selection a { display:block; height: 12px; width: 12px; margin-left:5px; overflow:hidden; text-align:left; }
.clear_selection a:hover { display:block; text-indent:-12px;}
.clear_selection img { border: 0; float:none; }


.productionServerUtilityOperator, .testServerUtilityOperator {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: left;
	min-width: 820px;
}

#home .productionServerUtilityOperator .header {
	float: left;
	width: 100%;
	font-size: .8em;
	line-height: normal;
	overflow: auto;
	background-color:#afebf8;
	margin: 0 0 8px 0;
	background: #DAE0D2 url("images/layout/header_background-wide.jpg")
		repeat-x left bottom;
}

#standard .productionServerUtilityOperator .header {
	float: left;
	width: 100%;
	font-size: .8em;
	line-height: normal;
	overflow: auto;
	background-color:#afebf8;
	margin: 0 0 8px 0;
	background: #DAE0D2 url("images/layout/header_background-wide.jpg")
		repeat-x left bottom;
}

.testServerUtilityOperator .header {
	float: left;
	width: 100%;
	font-size: .8em;
	line-height: normal;
	overflow: auto;
	background-color:#afebf8;
	margin: 0 0 8px 0;
	background: #DAE0D2 url("images/layout/header_background-blu.jpg")
		no-repeat left top;
}
.header h1 {
	margin: 0;
	padding-top: 4px;
	padding-left: 25px;
	font-size: 26px;
	font-weight: bold;
	color: #000000;
	
}