https://qa3.openadr.com/
Test_1234
Zombie,Zuma

Line 1 is the server.
Lines 2 is the password.
Line 3 is the comma-separated list (no spaces) of participants. If a client has more than one client, list twice.
	(will opt out of any events)

delete one client for each participant
Zeke,Zachary,Zombie

delete two clients for one participant
Zuma,Zuma


