https://sce2.openadr.com/
Test_1234
Zombie
3

Line 1 is the server.
Lines 2 is the password.
Line 3 is the comma-separated list (no spaces) of participants.
Line 4 is the comma-separated list (no spaces) of the number of the client in the client list...up to 3.

Zeke,Zachary,Zombie
1,1,1

one client more than one contact
Zuma,Zuma
1,1

more than one client with one contact
Zombie,Zombie,Zombie
1,2,3