<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"   
    xmlns="http://java.sun.com/xml/ns/javaee"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <display-name>SDGECPP</display-name>
    <servlet>
        <display-name>SDGECPP</display-name>
        <servlet-name>SDGECPP</servlet-name>
        <servlet-class>com.akuacom.pss2.apx.sdg.cbp.CBPInputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SDGECPP</servlet-name>
        <url-pattern>/SDGECPP</url-pattern>
    </servlet-mapping>
    <!-- <security-constraint>
        <web-resource-collection>
            <web-resource-name>PGECPP</web-resource-name>
            <url-pattern>/PGECPP</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PGECPP</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>PGECPP</realm-name>
    </login-config>
    <security-role>
        <description>PGECPP</description>
        <role-name>PGECPP</role-name>
    </security-role> -->
</web-app>
